@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: primaryFont;
    src: url(./assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: secondaryFont;
    src: url(./assets/fonts/Roboto-Medium.ttf);
}

* {
    font-size: 0.9rem;
    font-family: primaryFont;
}